* {
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav a, nav p {
    text-decoration: none;
    color: rgb(255, 255, 255);  
    font-size: large;
}

nav {
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #1a001a, #330066, #6600cc);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto { 
    height: auto;   
    border-radius: 8px; 
    justify-self: center;
    align-self: center;
}

.titulo-central {
    grid-column: 1 / 4; 
    grid-row: 1; 
    display: flex;
    align-items: center;    
    justify-content: center;      
    text-align: center;
    color: white;
    font-size: 1.8rem;
}

.vida-pessoal, .gostos {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    text-align: justify;
    color: rgb(255, 255, 255);
    gap: 5%;
}

.gostos ul{
    list-style-type: square;
}

#formacao p {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    text-align: justify;
    color: rgb(255, 255, 255);
    gap: 5%;
}

#portfolio section{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    text-align: justify;
    color: rgb(255, 255, 255);
    gap: 5%;
}

#portfolio img {
    width: 50%;
    height: auto;
    display: block;
    margin: 5%;
}

#medicina-virtual{
    width: 70%;
}

#portfolio a{
    color: aqua;
}

#sobre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    padding: 2rem;
    padding-top: 7%;
    background: linear-gradient(135deg, #2a0033, #4b0082);
}

#formacao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    padding: 2rem;
    background: linear-gradient(135deg, #1a0033, #003366);
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    padding: 2rem;
    padding-top: 7%;
    background: linear-gradient(135deg, #2a0033, #4b0082);
}

#contato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    padding: 2rem;
    padding-top: 7%;
    background: linear-gradient(135deg, #1a0033, #003366);
}

#contato label {
    color: rgb(255, 255, 255);
    margin-top: 3%;
}

#contato form{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    text-align: justify;
}

#idiomas {
    grid-column: 1/4;
    grid-row: 4;
    display: flex;
    align-items: center;    
    justify-content: center;      
    text-align: center;
    color: white;
    font-size: 1.8rem;
    flex-direction: column;
}

#kaic {
    border: 3px solid black;
    grid-column: 2;
    grid-row: 2;
    width: 70%;  
}

#uninter{
    grid-column: 3;
    grid-row: 2;
    width: 100%;  
}

#ifsp{
    grid-column: 1;
    grid-row: 2;
    width: 50%;  
}

#texto-uninter{
    grid-column: 3;
    grid-row: 3;
}

#texto-ifsp{
    grid-column: 1;
    grid-row: 3;
}

footer {
    width: 100%;
    background: linear-gradient(135deg, #1a001a, #330066, #6600cc);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}